<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<title>Registration From</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

	<!--Createing Navigation bar (Header)  -->

	
	<br>
	<br>
	<br>
	<!--Creating HTML  Registaration Form-->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- Sucess Messsage
				<div th:if="${param.success">
					<div class="alert alert-info">
						You've successfully registered in our System.
					</div>
				</div>
				-->

				<!-- form-->
				<h1>User Registartion Form</h1>
				<form th:action="@{/registration}" method="post" th:object="${user}">

					<div class="form-group">
						<label class="control-label" for="firstName">First Name</label>
						<input id="firstName" class="form-control" name="FirstName" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName">Last Name</label>
						<input id="lastName" class="form-control" name="LastName" required autofocus="autofocus" />

					</div>

					<div class="form-group">
						<label class="control-label" for="email">Emaile</label>
						<input id="email" class="form-control" name="Email" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input id="password" type="password" class="form-control" name="Password" th:field="*{Password}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<br>
						<button class="btn btn-success" type="submit">Register</button>
						<span style="margin-left: 50px;" >Already registered? <a href="/" th:href="@{/login}">Login </a> here</span>
					</div>

				</form>

			</div>
		</div>
	</div>

</body>

</html>